@font-face {
  font-family: 'Arial Rounded MT Bold';
	src: 	local('Arial Rounded MT Bold'), 
				url('./../../assets/fonts/ARLRDBD.woff') format('woff'), 
				url('./../../assets/fonts/ARLRDBD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,
.h1 {
	font-family: $theme-font-1;
	font-weight: 700;
	font-size: 55px;
	line-height: 125%;
}

h2,
.h2 {
	font-family: $theme-font-1;
	line-height: 140%;
	font-weight: 500;
	font-size: 26px;

	@media (min-width: $bp-md + 1px) {
		font-size: 20px;
	}

	@media (min-width: $bp-lg + 1px) {
		font-size: 30px;
	}
}

h3,
.h3 {
	font-family: $theme-font-1;
	margin: 5px 0;
	line-height: 160%;
	font-size: 22px;
}

h4,
.h4 {
	font-family: $theme-font-1;
	line-height: 120%;
	font-size: 25px;
}

h5,
.h5 {
	font-family: $theme-font-1;
	line-height: 120%;
	font-size: 16px;
}

h6,
.h6 {
	font-family: $theme-font-1;
	font-size: 14px;
	line-height: 110%;
}

body,
p,
.p {
	color: $theme-color-primary-dark;
	font-family: $theme-font-1;
	line-height: 160%;
	font-size: $font-size-base;
}

a {
	font-family: $theme-font-1;
	text-decoration: none !important;
	outline: none;
	color: $theme-color-primary-dark;
	
  &:hover {
    color: $theme-color-primary;
  }
	
	&:focus {
		outline: none;
	}
}
