// $bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$theme-color-primary: #6a67f6;
$theme-color-primary-light: #9291bc;
$theme-color-primary-dark: #403f76;
$theme-color-1: #6572ee;
$theme-color-2: #3e4477;
$theme-color-hover: $theme-color-2;

$color-red: #d00707;
$color-light-purple: #f1f1fd;

$theme-font-1: 'Arial Rounded MT Bold', sans-serif;
$font-size-base: 15px;
