@import 'core/_init';
@import 'app/checkbox';

// app element defaults

input {
  border: 2px solid $theme-color-primary-light;
  border-radius: 4px;
  padding: 16px;
  transition: all 300ms ease-in-out;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $theme-color-primary-light;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $theme-color-primary-light;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $theme-color-primary-light;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $theme-color-primary-light;
  }
  &::placeholder {
    color: $theme-color-primary-light;
  }

  &:active, &:focus {
    border-color: $theme-color-primary;
    color: $theme-color-primary;
  }

  &.error {
    border-color: $color-red;
  }
}

button {
  background-color: $theme-color-primary;
  color: white;
  border-radius: 4px;
  padding: 16px;
  text-transform: uppercase;
  transition: color, background-color 300ms ease-in-out;

  &:hover, &:active, &:focus {
    background-color: darken($theme-color-primary, 5);
  }
}

label {
  display: inline-block;
  vertical-align: middle;

  &:hover {
    color: $theme-color-primary;
  }
}

// app custom styles in order of appearance in DOM

.msg {
  min-height: 24px;
  text-align: right;
  font-size: 12px;
  color: $color-red;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column-reverse;
}

.login-form, .login-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 300ms cubic-bezier(0.38, 0.08, 0.18, 0.87);
}

.login-form {
  width: 100%;
  perspective: 1500px;
  padding: 20px;
}

.login-img-container {
  align-items: center;
  will-change: transform;
}
.login-img {
  max-width: 80%;
  max-height: 100%;
  width: 100%;
  animation: loginImgAnimation 0.7s;
}

.login-card-container {
  // don't give this class `overflow: hidden;` or `background: white;`
  width: 100%;
  max-width: 350px;
  min-height: 510px;
  margin: 0 auto;
  transition: all 0.6s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  animation: loginCardFadeIn 3.5s;
  will-change: transform;

  &.flipped {
    min-height: 540px;
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

.login-card {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  box-shadow: 0 0 14px 0px #6967f61c;
}

.signin-content, .signup-content {
  background: white;
	-webkit-backface-visibility: hidden; // for Safari
	backface-visibility: hidden;
  position: absolute;
  border-radius: 8px;
  width: 100%;
	top: 0;
  left: 0;
  padding: 35px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signin-content {
  z-index: 2;
}

.signup-content {
	transform: rotateY(180deg);
}

.link-btn {
  color: $theme-color-primary-dark;
  cursor: pointer;

  &:hover {
    color: $theme-color-primary;
  }
}

.credit-bar {
  background: $theme-color-primary;
  position: relative;
  z-index: 2;
  text-align: left;
  letter-spacing: 1px;
  padding: 12px 50px 12px 15px;
  color: #f1f1fd;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 190%;
  font-family: sans-serif;

  a {
    color: #f1f1fd;
    &:hover {
      color: white;
    }
  }
  
  .middot {
    display: none;
  }
}

.github-link {
  display: flex;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) perspective(1px);
  opacity: 0.9;

  img {
    width: 24px;
  }

  &:hover {
    opacity: 1;
  }
}

.global-msg {
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 4;
  background: $theme-color-primary;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px 0px rgba(103, 58, 183, 0.4);
  transition: all 300ms ease-in;
  transform: translateX(-50%) translateY(-500%) perspective(1px);
  width: 80%;
  text-align: center;

  &.visible {
    transform: translateX(-50%) translateY(30%) perspective(1px);

    .progress-bar {
      animation: reduceWidth 5s;
    }
  }
}

.progress-bar {
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: $color-light-purple;
}

// keyframes

@keyframes reduceWidth {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes loginCardFadeIn {
  0%, 35% {
    opacity: 0;
    transform: scale(0.85);
    transform-origin: bottom;
  }
  70% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes loginImgContainerAnimation {
  0%, 50% {
    max-height: 100vh;
    flex: 0 0 100vh;
    padding: 0;
  }
  100% {
    min-height: 300px;
    max-height: 40vh;
    flex: 0 0 40vh;
  }
}

@keyframes loginImgAnimation {
  0%, 30% {
    opacity: 0;
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes loginFormContainerAnimation {
  0%, 50% {
    padding: 0;
    flex: 0 0 0;
    min-height: 0; // to prevent the height from directly being set to the final value
    max-height: 0;
  }
  100% {
    flex: 0 0 100%;
    min-height: 600px; // to prevent the height from becoming too small when in landscape mode or when the keyboard is up
    max-height: 100%;
  }
}

// mobile only layout

@media (max-width: $bp-md) {
  body {
    background: $color-light-purple;
  }
  .login-img-container {
    box-sizing: content-box;
    min-height: 300px;
    max-height: 40vh;
    flex: 0 0 40vh;
    padding: 30px 40px;
    animation: loginImgContainerAnimation 2s;
  }
  .login-form {
    margin-bottom: 50px;
  }
}

// desktop only layout

@media (min-width: $bp-sm + 1px) {
  .login-img {
    max-width: 400px;
  }
}

@media (min-width: $bp-md + 1px) {
  .login-container {
    flex-flow: column;
    flex-direction: row;
  }
  .login-form, .login-img-container {
    height: 100vh; // for keeping the height full in FF
    padding: 50px;
  }
  .login-form {
    background: $color-light-purple;
    animation: loginFormContainerAnimation 2s;
    flex: 0 0 45%;
  }
  .login-img-container {
    display: flex;
    flex: 1 0 50%;
    background-color: white;
  }
  .login-img {
    max-width: 550px;
  }

  .signin-content, .signup-content {
    padding: 30px;
  }

  .credit-bar {
    text-align: center;
    padding: 8px 50px;

    .middot {
      display: inline;
    }
    .break {
      display: none;
    }
  }
  .github-link {
    right: 8px;
  }

  .global-msg {
    width: auto;
  }

  // keyframes

  @keyframes loginFormContainerAnimation {
    0%, 50% {
      padding: 0;
      flex: 0 0 0;
      max-width: 0;
    }
    100% {
      flex: 0 0 45%;
      max-width: 45%;
    }
  }

  @keyframes loginCardFadeIn {
    0%, 50% {
      opacity: 0;
      transform: scale(0.9);
      transform-origin: left;
    }
    70% {
      opacity: 0.8;
      transform: scale(1);
    }
    100% {
      opacity: 1;
    }
  }
}

@media (min-width: $bp-lg + 1px) {
  .signin-content, .signup-content {
    padding: 35px 40px;
  }
}
